atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.5
colorama==0.4.4
Cython==0.29.24
flake8==4.0.1
iniconfig==1.1.1
mccabe==0.6.1
numpy==1.21.2
packaging==21.2
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==2.2.1
pytest==6.2.5
texttable==1.6.4
toml==0.10.2
