atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.5
colorama==0.4.4
Cython==0.29.24
flake8==4.0.1
iniconfig==1.1.1
mccabe==0.6.1
numpy==1.21.2
packaging==21.2
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==2.2.1
pytest==6.2.5
texttable==1.6.4
toml==0.10.2

ipython==8.9.0
ipykernel==6.21.1
pandas==1.5.3
kaleido==0.2.1
psutil==5.9.0
plotly==5.13.0
nbformat==5.7.3

ortools==9.4.1874